body {
    background: #f2f2f2;
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.box {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: green;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}